.header {
  background-color: #002c56;
  border-radius: 0px !important;
}

.header-title  {
  color: white !important;
  display: inline-block;
}

body, p {
    font-weight: 400;
    font-family: "Noto Sans","Trebuchet MS",sans-serif;
    margin-bottom: 1.33778rem;
    letter-spacing: 0;
    color: #202329;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern';
    -moz-font-feature-settings: 'kern=1';
    -o-font-feature-settings: 'kern';
    font-kerning: normal;
}

.component-divider{
  border-bottom: 3px solid #d27;
  margin-bottom: 3rem;
}


.component-divider-sub{

  border-bottom: 2px solid #c8d7e6;
  margin-bottom: 3rem;

}
