/* Ref: Based on bootstrap example https://goo.gl/HrQtz4  */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center !important;
  margin-top: 10%;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  font-size: 16px;
}
